header {
    background-color: yellow;
    height: 80px;
    margin-bottom: 50px;
    margin-top: -20px;
    padding: 20px;
    text-align: center;
    margin-left: -20px;
    margin-right: -20px;
}
header h1 {
    color: black;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 50px;
}
.heading {
    text-align: center;
    font-family: 'Arial';
    font-size: 30px;
    border-bottom : 2px solid green;
    padding: 2px;
    width: 200px;
    margin-left: 20px;
}
#details {
  margin-left: 600px;
  margin-top: 200px;
}
button {
    background-color: orange;
    padding: 10px 20px 10px 20px;
    border-radius: 20%;
    margin-left: 100px;
    border: none;
}

button:focus {
  outline: none;
}
body {
  background-image: url("payment_background.jpg");
  color: black;
  background-size: 100%;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 1px;
  font-size: 14px;
  width: 250px;
  height: 30px;
}
input:focus {
  outline: none;
}
