*{
  font-family: 'Century Gothic';
}
body {
  display: flex;
  flex-flow: column;
  background-color: powderblue;
}

 ul{
  float:right;
  list-style-type: none;
  margin-top: 10px;
}
ul li{
  display:inline-block;
  margin: auto;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid transparent;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}
ul li.active a{
  background-color: #fff;
  color: #000;
}

.logo img{
  float: left;
  width:200px;
  margin-top: -5px;
  height: auto;
  border: none;
}

.main{
  max-width: 1200px;
  margin: auto;
}

            body {
                background-color: powderblue;
            }
            .remove {
                border-radius: 50px 0px 0px 50px;
                padding: 5px 10px 5px 10px;
            }
            .add {
                border-radius: 0px 40px 40px 0px;
                padding: 5px 10px 5px 10px;
            }
            .remove:focus {
              outline: none;
            }
            .add:focus {
              outline: none;
            }

input {
  display: initial;
  background: transparent;
  border: none;
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 5px;
  padding: 1px;
  font-size: 14px;
  width: 30px;
  height: 30px;
}
input:focus {
  outline: none;
}

section {
  margin-bottom: 20px;
  margin-top: 120px;
}
header {
  margin-top: 0px;
}
.container-1 {
  display: flex;
  margin-top: 150px;
  margin-left: 50px;
}
.container-items {
  margin-top: 150px;
  margin-left: 50px;
}
.container-item {
  display: flex;
}
.container-item div {
  text-align: center;
  width: 250px;
}
.container-items .item_logo {
  position: relative;
  top: -70px;
}
.container-purchase {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  justify-content: center;
  border: 3px solid yellowgreen;
  width: max-content;
  padding: 20px;

}
.total_cost {
  float:right;
  margin-right: 200px;
  font-size: 19px;
  font-family: 'Segoe UI Semibold';
}
tr {
  margin-right: 200px;
}
td {
  margin-right: 100px;
  padding: 20px;
  border: 1px solid grey;
}
th {
  background-color: yellow; 
  margin-right: 100px;
  padding: 20px;
  border: 1px solid grey;
}
.checkout {
  background-color: orange;
  border-radius: 3px;
  float: right;
  padding: 20px;
  border-radius: 10%;
  font-family: cursive;
  font-size: 16px;
  border: none;
  width: 200px;
  margin-left: 750px;
}
button:focus {
  outline: none;
}
.hide {
  display: none;
}
.coupon_code {
  border-bottom: 1px solid black;
  width: 200px;
  height: 20px;
}
.coupon_acceptor {
  margin-top: 30px;
  margin-left: 70px;
  padding: 10px;
  border-radius: 20%;
  background-color: orange;
  font-family: 'Segoe UI Semibold';
  font-weight: bold;
  border: none;
  font-size: 15px;
  padding: 15px;
}
.remove-item {
  margin-left: 200px;
  color: white;
  background-color: red;
  border: none;
  border-radius: 20%;
  padding: 20px;
}